<html>  
    <head>   
    <title>  
    Registration Page  
    </title>  
    </head>  
    <body>  
    <br>  
    <br>  
    <form action="/submit" method="POST">  
      
    <label> Firstname </label>         
    <input type="text" name="firstname" size="15"/> <br> <br>  
      
    <label> Lastname: </label>         
    <input type="text" name="lastname" size="15"/> <br> <br>  
      
    <label>   
    Course :  
    </label>   
    <select>  
    <option value="Course">Course</option>  
    <option value="BCA">BCA</option>  
    <option value="BBA">BBA</option>  
    <option value="B.Tech">B.Tech</option>  
    <option value="MBA">MBA</option>  
    <option value="MCA">MCA</option>  
    <option value="M.Tech">M.Tech</option>  
    </select>  
      
    <br>  
    <br>  
    
    Email:  
    <input type="email" id="email" name="email"/> <br>    
    <br> <br>  
    Marks:
    <input type="number" id="marks" name="marks"/> <br>
    <br> <br>
    
    <button type="submit">submit</button>
    </form>  
    </body>  
    </html>  